<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
<form action="#"
      th:action="@{/add}"
      method="post">

    <input type="submit" value="Add a post" />
</form>
<form action="#"
      th:action="@{/search}"
      method="post">

    Search for Posts By User :<br /><input type="text" name="searchUser" />

    <br />
    <input type="submit" value="Submit" />
</form>
Post List<br /><br />
<table>

    <tr th:each="redditPosts : ${posts}">
        Post Title: <span th:text="${redditPosts.title}"></span><br />
        <a th:href="@{${redditPosts.url}}" th:target="_blank" th:inline="text">[[${redditPosts.url}]]</a><br />
        Posted by: <span th:text="${redditPosts.user}"></span><br />
        Posted on <span th:text="${redditPosts.date}"></span><br />
            <a th:href="@{/update/{id}(id=${redditPosts.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${redditPosts.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${redditPosts.id})}">Delete</a>
        <br /><br /><br />
    </tr>

</table>

</body>
</html>