<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
<form action="#"
      th:action="@{/add}"
      method="post">

    <input type="submit" value="Add a post" />
</form>

<form action="#"
      th:action="@{/search}"
      method="post">

    Search for Posts By User :<br /><input type="text" name="searchUser" />

    <br />
    <input type="submit" value="Submit" />
</form>
Post List<br />
<table>

    <tr th:each="redditPosts : ${posts}">
        Post Title: <span th:text="${redditPosts.title}"></span><br />
        <span th:text="${redditPosts.url}"></span><br />
        Posted by: <span th:text="${redditPosts.user}"></span><br />
        Posted on <span th:text="${redditPosts.date}"></span><br /><br />

    </tr>
</table>

</body>
</html>