<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Page</title>
</head>
<body>
<form action="#"
      th:action="@{/}"
      method="post">

    <br />
    <input type="submit" value="Main Page" />
</form><br /><br />
Posts by User
<table>

    <tr th:each="redditPosts : ${posts}">
        <span th:text="${redditPosts.user}"></span><br />
        <span th:text="${redditPosts.title}"></span><br />
        <a th:href="@{${redditPosts.url}}" th:target="_blank" th:inline="text">[[${redditPosts.url}]]</a><br />
        <span th:text="${redditPosts.date}"></span><br /><br />

    </tr>
</table>

</body>
</html>